body {
  margin: 0px;
  font-family: 'Roboto';
  font-size: 20px;
  color: gray;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 40px;
}

header {
  padding: 10px;
  color: #6200EA;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-shadow: inset 0 12px 24px -12px rgba(0, 0, 0, 0.5);
}

header img {
  width: 64px;
  height: 64px;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #6200EA;
}

article {
  flex: 1 1 auto;
}

.overview form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview article:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overview article:nth-of-type(3) form div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.overview article:nth-of-type(4) form div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.overview article:nth-of-type(4) form div h3 {
  text-align: center;
}

.overview article:nth-of-type(4) ul {
  padding: 0;
}

.overview article:nth-of-type(4) ul li {
  list-style-type: none;
  color: black;
  border-bottom: 2px solid white;
  width: 100%;
}

.overview article:nth-of-type(4) ul li>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.overview article:nth-of-type(4) ul li>div>div:first-of-type {
  font-weight: bold;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15;
  padding-right: 15px;
  padding-top: 30px;
  background-color: white;
  border-radius: 16px;
}

h1 {
  color: #6200EA;
  text-align: center;
}

h2 {
  color: gray;
}

i {
  height: 16px;
  width: 16px;
  background-color: #6200EA;
  border-radius: 50%;
  display: inline-block;
}

textarea,
button {
  width: 95%;
  border: none;
  margin: 0px auto;
  padding-bottom: 30px;
  resize: none;
}

button {
  color: #6200EA;
  font-size: 18px;
  font-weight: bold;
}

div {
  margin-left: 0px;
  padding: 10px;
}

textarea {
  height: 500px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  text-align: justify;
}

.models {
  background: white;
  flex-direction: column;
}

.models article {
  flex: 1 1 500px;
  padding-left: 40px;
}

.models article div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.models article div>div {
  flex: 1 1 300px;
  padding-left: 10px;
}

.models article img {
  width: 700px;
  height: 350px;
}

.models .results div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.models ul {
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  padding: 0;
}

.models ul li {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .models article div {
    margin-bottom: 50px;
  }
  .models article img {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .overview section {
    display: block;
  }
  .overview article {
    width: 100%;
  }
  .overview form {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .models article img {
    width: 400px;
    height: 150px;
  }
}

@media only screen and (max-width: 1400px) {
  .models article {
    flex: 1 1 500px;
  }
}

.models article:last-of-type {
  flex: 1 1 auto;
}

.references form {
  border-radius: 0px;
  margin-bottom: 0px;
}

article a {
  color: #6200EA;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}